.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: 20px 50px;
    
}

.list{
    display: flex;
    list-style: none;
       
}

.item {
    letter-spacing: 1px;
    margin-left: 16px;
  
}

.item a{
    color: #fff;
    text-decoration: none;
}

.item a:hover{
    color: #fb3;
    text-decoration: none;
}





